{% extends 'main/base.html' %}

{% block title %}Login | FK UKI 2019{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Login</h1>

    <!-- User sudah login, tapi masih di halaman login -->
    {% if user.is_authenticated %}
    <p>Kamu sudah login, {{ user.get_full_name }}. silahkan ke <a href="{% url 'index' %}">halaman utama.</a></p>

    <!-- User belum login -->
    {% else %}
    <p>Silahkan login untuk melanjutkan ke halaman ini</p>
    {% endif %}

    <!-- Username / password yang dimasukkan user salah -->
    {% if form.errors %}
    <p>Username dan password tidak cocok, silahkan coba lagi!</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="id_username" placeholder="Masukkan username disini"
                name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required>
            <label for="id_username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="id_password" placeholder="Masukkan password disini"
                name="password" autocomplete="current-password" required>
            <label for="id_password">Password</label>
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}