{% extends 'main/base.html' %}

{% block title %}FK UKI 2019 | Cari{% endblock %}

{% block content %}
<form action="/cari" method="get" style="width: 100%;">
    <input id="q" name="q" value="{{ request.GET.q }}" class="w3-input" type="text" placeholder="Search..."
        aria-label="Search">
    <button class="w3-button w3-block" type="submit">Search</button>
</form>


{% for materi in materis %}
<ul>
    <li><a href="{% url 'materi_detail' materi.slug %}">{{ materi.judul }}</a></li>
</ul>
{% endfor %}

<hr>

{% for user in users %}
<ul>
    <li>{{ user.username }}</li>
</ul>
{% endfor %}
{% endblock %}