{% extends 'main/base.html' %}

{% block title %}FK UKI 2019 | Materi{% endblock %}

{% block content %}

{% for materi in materis %}
<div class="w3-container">
    <div class="w3-card w3-padding w3-margin">
        <img src="{{ materi.thumbnail.url }}" alt="{{ materi.judul }}" width="200px">
        <h2>{{ materi.judul }}</h2>
        <p>{{ materi.deskripsi }}</p>
        <a href="{% url 'materi_detail' materi.slug %}" class="w3-button">Baca lebih lanjut</a>
    </div>
</div>
{% endfor %}
{% endblock %}